/src/DongFeng.WPF/DongFeng.UI/bin
/src/DongFeng.WPF/DongFeng.WPF/bin
/src/DongFeng.WPF/DongFeng.WPF/obj
/src/DongFeng.WPF/DongFeng.UI/obj
/src/DongFeng.WPF/.vs
/src/DongFeng.WPF/DongFeng.UI.Extend/obj
/src/DongFeng.WPF/DongFeng.UI.Extend/bin/Debug/net10.0-windows
